.label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  color: var(--foreground);
  margin-bottom: 0.5rem;
  display: block;
}

.label:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

